@keyframes eggRst {
	0%,
	100% {
		transform: translate(-50%, -20px) rotate3d(90, 0, 0, 90deg);
		opacity: 0;
	}
	10%,
	90% {
		transform: translate(-50%, -30px) rotate3d(90, 0, 0, 90deg);
		opacity: 1;
	}
	25% {
		transform: translate(-50%, -40px) rotate3d(85, 17, 2, 70deg);
	}
	75% {
		transform: translate(-50%, -40px) rotate3d(75, -3, 2, 70deg);
	}
	50% {
		transform: translate(-55%, -50px) rotate3d(75, -8, 3, 50deg);
	}
}
@keyframes panex {
	0% {
		transform: rotate(-5deg);
	}
	100% {
		transform: rotate(10deg);
	}
}
@keyframes loader{
    100%{
        display: none;
        visibility: hidden;
    }
}

@keyframes button {
    from {
        opacity: 1.0;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    }

    to {
        opacity: 0.8;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.35);
    }
}

@keyframes button-reverse {
    from {
        opacity: 0.8;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.35); 
    }

    to {
        opacity: 1.0;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    }
}

@keyframes heart-reverse {
    from { 
        opacity: 1.0;
    }

    to {
        opacity: 0;
    }
}

@keyframes heart {
    from {
        opacity: 0;
    }

    to {
        opacity: 1.0;
    }
}

@keyframes go-left {
    from {
        width: 100%;
    }

    to {
        width: 86%;
    }
}

@keyframes go-right {
    from {
        width: 86%;
    }

    to {
        width: 100%;
    }
}

@keyframes go-left-tablet {
    from {
        width: 100%;
    }

    to {
        width: 88%;
    }
}

@keyframes go-right-tablet {
    from {
        width: 88%;
    }

    to {
        width: 100%;
    }
}

@keyframes check-left {
    from {
        right: -64px;
    }

    to {
        right: 0;
    }
}

@keyframes check-right {
    from {
        right: 0;
    }

    to {
        right: -64px;
    }
}

@keyframes menu {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
