//Variables for the website
$desktop-breakpoint: 1025px;
$tablet-breakpoint: 768px;
$bg-form: #EAEAEA;
$bg-color: #F6F6F6;
$main-color: #000000;
$secondary-color: #353535;
$new-color: #008766;
$new-bg-color: #99E2D0;
$btn-color: #FFFFFF;
$btn-bg: linear-gradient(to top, #9356dc 0%, #ff79da 100%);
$btn-main-bg: #9356dc;
$icone-color: #7e7e7e;