@keyframes button {
  from {
    opacity: 1;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  }
  to {
    opacity: 0.8;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.35);
  }
}
@keyframes button-reverse {
  from {
    opacity: 0.8;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.35);
  }
  to {
    opacity: 1;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  }
}
body {
  display: flex;
  justify-content: center;
  margin: unset;
}

.main-container {
  width: 100%;
  box-sizing: border-box;
}
@media screen and (min-width: 1224px) {
  .main-container {
    max-width: 1440px;
  }
}

.title {
  margin: unset;
  padding-bottom: 24px;
  font-size: 24px;
}

* {
  font-family: "Roboto", sans-serif;
}

.button {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: #FFFFFF;
  padding: 16px 24px;
  background: linear-gradient(to top, #9356dc 0%, #ff79da 100%);
  border-radius: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  animation: button-reverse 150ms forwards;
}
.button:active {
  animation: button 150ms forwards;
}
@media screen and (min-width: 1224px) {
  .button {
    animation: button-reverse 500ms forwards;
  }
  .button:active {
    animation: unset;
  }
  .button:hover {
    animation: button 500ms forwards;
  }
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
  padding: 16px 0;
  position: relative;
  z-index: 1;
}
.form--shadow {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 1224px) {
  .form--shadow {
    box-shadow: unset;
  }
}
.form__container {
  display: flex;
  gap: 16px;
}
.form__container__icon {
  color: #353535;
  width: 12px;
}
.form__container__input {
  border: none;
  background-color: #EAEAEA;
  color: #353535;
  width: 109px;
  font-size: 16px;
  font-weight: 500;
}
.form__container__input::-moz-placeholder {
  color: #353535;
}
.form__container__input::placeholder {
  color: #353535;
}

.header__container {
  padding-top: 20px;
  padding-bottom: 16px;
  position: relative;
  z-index: 2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 1224px) {
  .header__container {
    padding-bottom: 24px;
    box-shadow: unset;
  }
}
.header__container__logo {
  display: block;
  margin: 0px auto;
  width: 48%;
  height: auto;
}
@media screen and (min-width: 768px) {
  .header__container__logo {
    width: 32%;
  }
}
@media screen and (min-width: 1224px) {
  .header__container__logo {
    width: 16%;
  }
}

.informations {
  background-color: #F6F6F6;
  text-align: center;
}
.informations__title {
  margin: unset;
  padding: 42px 48px 0;
  font-size: 24px;
}
@media screen and (min-width: 1224px) {
  .informations__title {
    font-size: 40px;
    padding-bottom: 16px;
  }
}
.informations__text {
  font-size: 18px;
  font-weight: 300;
  padding: 0 32px;
}
.informations__button-container {
  padding-top: 32px;
  padding-bottom: 72px;
}
@media screen and (min-width: 1224px) {
  .informations__button-container {
    padding-bottom: 48px;
  }
}

.fonctionnement {
  padding: 48px 24px;
}
.fonctionnement__btn {
  margin-left: 13px;
  display: flex;
  align-items: center;
  gap: 24px;
  background-color: #F6F6F6;
  border: 1px solid;
  border-color: #F6F6F6;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}
.fonctionnement__btn__number {
  position: relative;
  left: -15px;
  margin: unset;
  border: 1px solid #9356dc;
  border-radius: 16px;
  padding: 6px 10px;
  background-color: #9356dc;
  font-size: 14px;
  font-weight: 500;
  color: #FFFFFF;
}
.fonctionnement__btn__txt {
  margin: unset;
  padding: 24px 0;
  font-size: 16px;
  font-weight: 500;
}

.fonctionnement__btn__icone {
  color: #7e7e7e;
}/*# sourceMappingURL=main.css.map */