//Header Settings
.header__container {
    padding-top: 20px;
    padding-bottom: 16px;
    position: relative;
    z-index: 2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);

    @media screen and (min-width: 1224px) { 
        padding-bottom: 24px;
        box-shadow: unset;
       }

    &__logo {
        display:block;
        margin: 0px auto;
        width: 48%;
        height: auto;
        
        @media screen and (min-width: 1224px) {
            width: 16%;
        }
    }
}
