.informations {
    background-color: $bg-color;
    text-align: center;

    &__title {
        margin: unset;
        padding: 42px 48px 0;
        font-size: 24px;

        @media screen and (min-width: 1224px) {
            font-size: 40px;
            padding-bottom: 16px;
        }
    }
    &__text {
        font-size: 18px;
        font-weight: 300;
        padding: 0 32px;
    }
    &__button-container {
        padding-top: 32px;
        padding-bottom: 72px;

        @media screen and (min-width: 1224px) {
            padding-bottom: 48px;
        }
    }
}

.fonctionnement {
    padding: 48px 24px;
    &__btn {
        margin-left: 13px;
        display: flex;
        align-items: center;
        gap: 24px;
        background-color: $bg-color;
        border: 1px solid;
        border-color: $bg-color;
        border-radius: 20px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
        &__number {
            position: relative;
            left: -15px;
            margin: unset;
            border: 1px solid $btn-main-bg;
            border-radius: 16px;
            padding: 6px 10px;
            background-color: $btn-main-bg;
            font-size: 14px;
            font-weight: 500;
            color: $btn-color;
        }
        &__txt {
            margin: unset;
            padding: 24px 0;
            font-size: 16px;
            font-weight: 500;
        }
    }
}

.fonctionnement__btn__icone {
    color: $icone-color;
}