.informations {
    background-color: $bg-color;
    text-align: center;

    &__title {
        margin: unset;
        padding: 42px 48px 0;
        font-size: 24px;

        @media screen and (min-width: $desktop-breakpoint) {
            font-size: 40px;
            padding-bottom: 16px;
        }
    }
    &__text {
        font-size: 18px;
        font-weight: 300;
        padding: 0 32px;
    }
    &__button-container {
        padding-top: 32px;
        padding-bottom: 72px;

        @media screen and (min-width: $desktop-breakpoint) {
            padding-bottom: 48px;
        }
    }
}

.section {
    padding: 48px 24px;

    @media screen and (min-width: $desktop-breakpoint) {
        padding: 50px 144px;
    }
}


.fonctionnement__btn {
        display: flex;
        flex-direction: column;
        gap: 24px;

        @media screen and (min-width: $desktop-breakpoint) {
            flex-direction: row;
            justify-content: center;
            gap: 24px;
        }

        &__container {
            margin-left: 13px;
            display: flex;
            align-items: center;
            gap: 24px;
            background-color: $bg-color;
            border: 1px solid;
            border-color: $bg-color;
            border-radius: 20px;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);

            @media screen and (min-width: 1224px) {
                display: flex;
                width: 30%;
            }

            &__number {
                position: relative;
                left: -15px;
                margin: unset;
                border: 1px solid $btn-main-bg;
                border-radius: 16px;
                padding: 6px 10px;
                background-color: $btn-main-bg;
                font-size: 14px;
                font-weight: 500;
                color: $btn-color;
            }

            &:active > i {
                color: $btn-main-bg;

                @media screen and (min-width: $desktop-breakpoint) {
                color: $icone-color;
                }
            }

            &:hover > i {
                @media screen and (min-width: $desktop-breakpoint) {
                    color: $btn-main-bg;
                }
            }

            &__txt {
                margin: unset;
                padding: 24px 0;
                font-size: 16px;
                font-weight: 500;
            } 

        }
    }


.fonctionnement__btn__container__icone {
    color: $icone-color;
}

.restaurant {
    background-color: $bg-color;

    &__title {
        margin: unset;

    }

    &__card__link {
        text-decoration: none;

        &--new {
            margin: unset;
            text-align: center;
            font-size: 14px;
            font-weight: 500;
            color: $new-color;
            background-color: $new-bg-color;
            width: fit-content;
            padding: 6px 12px;
            border-radius: 2px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
            position: relative;
            top: 40px;
            left:288px;
        }

        &__menu {

            background-color: $btn-color;
            border-radius: 15px;
            
            &__img {
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                width: 100%;
                height: 176px;
                object-fit: cover;
            }
    
            &__content {
                display: flex;
                padding: 8px 16px 16px;
    
                &__txt {
                    display: flex;
                    flex-direction: column;
                    width: 80%;
                    gap: 8px;
    
                    &__title {
                        margin: unset;
                        color: $main-color;
                        font-size: 18px;
                    }
                    &__location {
                        margin: unset;
                        color: $main-color;
                        font-weight: 300;
                        font-size: 18px;
                    }
                }
                &__icon {
                    width: 20%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 22px;
                    color: $main-color;
                }
            }
        }
    }
}